# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.elf
*.map
*.lss
*.d

# Debug files
*.dSYM/
*.su

# Utility binaries
utilities/size_parser

# Eagle files
*.s##*
*.b##*
eagle.epf
